<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second page</title>
</head>
<body>
    <h1>Second page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ipsa dignissimos perferendis porro ab explicabo vitae architecto reiciendis atque, autem soluta repellendus cumque temporibus quibusdam libero iure magni beatae minus.</p>

    <a href="{{ url_for('index') }}">Go back</a>
    <!--Se refere a função index que definimos no nosso arquivo python (isso no dará uma URL daquela função)-->
</body>
</html>